{% liquid 
  assign index = card_article.created_at | date: '%m' | times: 1 | minus: 1 
  assign year = card_article.created_at | date: '%Y'
  assign day = card_article.created_at | date: '%d'
  assign months = 'Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre' | split: ','
  assign fixed_date = months[index]
%}

<li class="{{ class }} px-2 py-4 sm:px-4 sm:py-6 bg-[#E5E1D8] group text-black">
  <a href="{{ card_article.url }}" aria-label="Abrir el articulo {{ card_article.title | escape }}">
    <div class="relative">
      <img
        src="{{ card_article.image.src | img_url: '550x' }}"
        alt="{{ article.image.alt }}"
        class="aspect-video object-cover object-center transition-all duration-500 ease-out group-hover:opacity-50"
        loading="lazy"
        width="{{ card_article.image.src.width }}"
        height="{{ card_article.image.src.height }}">
    </div>
    <div>
      {% comment %}
      <small class="block mt-4 mb-2 text-[14px] font-semibold tracking-[1.5px]">
      {{ day | append: ' de ' | append: fixed_date | append: ', ' | append: year }}
      </small>
      {% endcomment %}
      <h3 class="text-sm lg:text-base font-modelica-medium font-semibold tracking-[1px] my-4 leading-none line-clamp-1">{{ card_article.title }}</h3>
      <div class="text-xs sm:text-sm font-medium tracking-[1px] mb-4 line-clamp-4">
        {{ card_article.excerpt_or_content | strip_html }}
      </div>
    </div>
    <div class="block w-max bg-black text-white py-2 px-2 uppercase tracking-[2.5px] text-xs float-right font-semibold" role="button">Seguir Leyendo</div>
  </a>
</li>