{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
{%- assign t = template | split: '.' | first -%}

<nav class="text-xs tracking-[1.5px] text-bold" role="navigation" aria-label="breadcrumbs">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item inline-block mx-2">
      <a class="breadcrumbs__link uppercase" href="/">Inicio</a>
    </li>
    
    {%- case t -%}
      {%- when 'page' -%}
        <span class="text-sm" role="presentation">&#124;</span>
        <li class="breadcrumbs__item inline-block mx-2">
          <a class="breadcrumbs__link uppercase" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
        </li>
      {%- when 'product' -%}
        {%- if collection.url -%}
          <span class="text-sm" role="presentation">&#124;</span>
          <li class="breadcrumbs__item uppercase inline-block mx-2">
            {{ collection.title | link_to: collection.url | capitalize }}
          </li>
        {%- endif -%}
        <span class="text-sm" role="presentation">&#124;</span>
        <li class="breadcrumbs__item inline-block mx-2">
          <a class="breadcrumbs__link uppercase" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
        </li>
      {%- when 'collection' and collection.handle -%}
        {%- if current_tags -%}
          <span class="text-sm" role="presentation">&#124;</span>
          <li class="breadcrumbs__item inlineblockx mx-2">
            {{ collection.title | link_to: collection.url | capitalize }}
          </li>
          <span class="text-sm" role="presentation">&#124;</span>
          <li class="breadcrumbs__item">
            {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
            <a class="breadcrumbs__link uppercase" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
          </li>
        {%- else -%}
          <span class="text-sm" role="presentation">&#124;</span>
          <li class="breadcrumbs__item inline-block mx-2">
            <a class="breadcrumbs__link uppercase" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
          </li>
        {%- endif -%}
      {%- when 'blog' -%}
        {%- if current_tags -%}
          <span class="text-sm" role="presentation">&#124;</span>
          <li class="breadcrumbs__item inline-block mx-2">
            {{ blog.title | link_to: blog.url | capitalize }}
          </li>
          <span class="text-sm" role="presentation">&#124;</span>
          <li class="breadcrumbs__item inline-flex mx-2">
            {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
            <a class="breadcrumbs__link uppercase" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
          </li>
        {%- else -%}
          <span class="text-sm" role="presentation">&#124;</span>
          <li class="breadcrumbs__item inline-block mx-2">
            <a class="breadcrumbs__link uppercase" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
          </li>
        {%- endif -%}
      {%- when 'article' -%}
        <span class="text-sm" role="presentation">&#124;</span>
        <li class="breadcrumbs__item uppercase inline-block mx-2">
          {{ blog.title | link_to: blog.url | capitalize }}
        </li>
        <span class="text-sm" role="presentation">&#124;</span>
        <li class="breadcrumbs__item inline-block mx-2">
          <a class="breadcrumbs__link uppercase" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
        </li>
      {%- else -%}
        <span class="text-sm" role="presentation">&#124;</span>
        <li class="breadcrumbs__item inline-block mx-2">
          <a class="breadcrumbs__link uppercase" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
        </li>
    {%- endcase -%}
      </ul>
</nav>
{%- endunless -%}