<ul class="flex gap-x-2 justify-start my-2" role="list">
  {%- if settings.social_twitter_link != blank -%}
    <li>
      <a href="{{ settings.social_twitter_link }}" class="transition-all duration-200 ease-out hover:opacity-50" target="_blank" rel="noopener noreferrer">
        {%- render 'svg-twitter', class: 'w-5 h-5' -%}
        <span class="sr-only">twitter</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <li>
      <a href="{{ settings.social_facebook_link }}" class="transition-all duration-200 ease-out hover:opacity-50" target="_blank" rel="noopener noreferrer">
        {%- render 'svg-facebook', class: 'w-5 h-5' -%}
        <span class="sr-only">facebook</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li>
      <a href="{{ settings.social_pinterest_link }}" class="transition-all duration-200 ease-out hover:opacity-50" target="_blank" rel="noopener noreferrer">
        {%- render 'svg-pinterest', class: 'w-5 h-5' -%}
        <span class="sr-only">pinterest</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li>
      <a href="{{ settings.social_instagram_link }}" class="transition-all duration-200 ease-out hover:opacity-50" target="_blank" rel="noopener noreferrer">
        {%- render 'svg-instagram', class: 'w-5 h-5' -%}
        <span class="sr-only">instagram</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li>
      <a href="{{ settings.social_tiktok_link }}" class="transition-all duration-200 ease-out hover:opacity-50" target="_blank" rel="noopener noreferrer">
        {%- render 'svg-tiktok', class: 'w-5 h-5' -%}
        <span class="sr-only">tiktok</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li>
      <a href="{{ settings.social_youtube_link }}" class="transition-all duration-200 ease-out hover:opacity-50" target="_blank" rel="noopener noreferrer">
        {%- render 'svg-youtube', class: 'w-5 h-5' -%}
        <span class="sr-only">youtube</span>
      </a>
    </li>
  {%- endif -%}
</ul>