<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VNSFL26G0E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VNSFL26G0E');
</script>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZQ5MJ7');</script>
<!-- End Google Tag Manager -->
  
  <meta name="google-site-verification" content="glY4e_YdjJYlC0-FE-KYQ1JGjqQp0ZsQcuEQkE2risA" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 


    <!--TITLE-->
    <title>
        {{ page_title }}
        {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
        {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
        {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    <!--PRECONNECTS-->
    <link rel="canonical" href="{{ canonical_url }}"> 
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    {% if settings.favicon != blank %}
    <!--FAVICON-->
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}

    <!--MAINJS IMPORT-->
    <script src="{{ 'app.js' | asset_url }}" type="module" defer></script>

    <!--CSS-->

    <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet" defer>
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}" defer>

     <!--HOOK FOR HEADER-->
     {{ content_for_header }}

    {% if page_description %}
    <!--DESCRIPTION-->
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

      <!--METATAGS-->
    {% render 'meta-tags' %}
    {{ shop.metafields.loox["global_html_head"] }}  



  
    <style>
      .title-with-effect::after{
        content: url('{{ 'manito.svg' | asset_url }}');
        position: absolute;
        top: -60px;
        left: 0;
      }
    </style>



  
</head>
<body class="font-quicksand bg-white {% if template == 'index' %}overflow-x-hidden max-w-full{% endif %}">
    {% section 'announcement-bar' %}
    {% section 'header' %} 
    <main id="MainContent" class="block min-h-[100vh]">
        {{ content_for_layout }}
    </main> 
    {% section 'footer' %}
    {{ shop.metafields.loox["global_html_body"] }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZQ5MJ7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
</body>
</html>